.portfolio 
    .portfolio__container.container
        .portfolio__project 
            .portfolio__project-name 
                    p Системы очистки воды "Экодар"
            img(src="/images/portfolio/ekodar.png", alt="", srcset="")
        .portfolio__project 
            .portfolio__project-name 
                p Управляющие клапаны "RunXin"
            img(src="/images/portfolio/ekodar.png", alt="", srcset="")
        .portfolio__project 
            .portfolio__project-name 
                    p Аренда опалубки в Москве "Sogran"
            img(src="/images/portfolio/ekodar.png", alt="", srcset="")
            