header.header-page
    .header-page__container 
        .header-page__start._anim-items._anim-no-hide 
            a(href="" class="header-page__logo") Zubarev
        .header-page__end
            nav.header-page__nav 
                ul.header-page__ul._anim-items._anim-no-hide 
                    li.header-page__li Обо мне
                    li.header-page__li GitHub
                    li.header-page__li LinkedIn
                    li.header-page__li Telegram