.banner._anim-items._anim-no-hide
    .banner-container.container 
        .banner-left
            .banner-left__info.--first Приветствую
            .banner-left__info.--two вас
            .banner-left__info.--third на своём новом 
            .banner-left__info.--fourth сайте
        .banner-right 
            .banner-right__info 
                img(class="lightning-animation banner-gif" src="/images/gif-animation/lightning.gif", alt="", srcset="")
                p.banner-right__text Здесь вы найдёте<br>портфолио<br> и отзывы о моей работе
