html(lang="ru-RU")
    head 
        include ./templates/head/head

include ./components/components

body
    .wrapper 
        main.main 
            include ./templates/header/header
            include ./templates/section-top/section-top
            include ./templates/banner/banner

    script(src="../index.js") 






